@font-face {
    font-family: 'Logo-Font';
    src: url('font/LoversQuarrel-Regular.ttf');
    font-size: larger;
    font-weight: 500;
}
@font-face {
    font-family: 'Jazz-Text';
    src: url('font/Italianno-Regular.ttf');
}
@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}
@font-face {
    font-family: 'base-text';
    src: url(../src/font/FrederickatheGreat-Regular.ttf);
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(imge/Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#content{
display: flex;
flex-direction: column;
height: 100vh;
width: 50vw;
align-items: center;
align-self: center;
border-radius: 12px;
margin-top: 2%;
margin-bottom: 2%;
max-width: 525px;
background-color: rgba(118, 92, 72, 0.658);
gap: 5%;
}
.call{
    font-family: 'base-text';
    font-size: 4vh;
    text-align: center;
    color:rgba(236, 234, 234, 0.705);
    height: 10%;
    margin-top: 20%;
}
.text{
    text-align: center;
    font-size: 2vh;
    color:rgba(173, 167, 167, 100);
    width: 50%;
    font-family: 'base-text';
}
p{
    color: rgb(230, 82, 82);
}
.reserve{
    width: 50%;
    height: 10%;
    background: rgba(0, 0, 0, 0.719);
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    border-radius: 4px;
	outline: rgba(0, 0, 0, 0.192) ridge;
    font-family: 'base-text';
}
.reserve:hover{
    animation: tilt-shaking 1.5s infinite;
}
.online{
    width: 50%;
    height: 10%;
    background-color: rgba(219, 209, 209, 0.651);
    color: black;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    border-radius: 4px;
	outline: rgba(219, 209, 209, 0.192) ridge;
    font-family: 'base-text';
}
.online:hover{
    background: rgba(0, 0, 0, 0.719);
	color: white;
    animation: tilt-shaking 1.5s infinite;
}